* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --turquoise: #00ffff;
    --purple: #d20094;
    --white: #fff;
    --purple2: #900080;
}

body {
    height: 100vh;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--white);
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
}

.grassetto {
    font-weight: 700;

}

.header-box {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

img {
    width: 160px;
}

.block {
    display: block;
}

.title-box {
    text-align: center;
    margin-bottom: 80px;
}

.titolo {
    font-family: 'Outfit', sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 4rem;
}

.answer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 50px;
    margin-bottom: 100px;
}

.footer-box {
    font-size: 1.2rem;
    text-transform: uppercase;
}


button {
    font-size: 1.1rem;
    color: var(--white);
    width: 400px;
    border: none;
    padding: 30px 40px;
    box-shadow: -1px -3px 5px 2px var(--white);

    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
}

button:focus {
    box-shadow: -1px -3px 5px 2px linear-gradient(180deg, rgba(210,0,148,1) 0%, rgba(144,0,128,1) 50%);
    background: rgb(210, 0, 148);
    background: linear-gradient(180deg, rgba(210, 0, 148, 1) 0%, rgba(144, 0, 128, 1) 30%);
}

.rosato {
    color: var(--purple);
}

#bottoneProssimo{
    display: block;
    margin-left: auto;
}

#prossimo{
    background-color: var(--purple);
    border-radius: 0%;
    box-shadow: none;
    width: 150px;
    height: 50px;
    text-align: center;
    padding: 0;
    margin: 50px;
}












/* 
############################################################
                        TIMER CSS
############################################################
*/


/* .base-timer {
    position: relative;
    width: 150px;
    height: 150px;
}

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: white;
    opacity: 0.3;
}

.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}

.base-timer__path-remaining.green {
    color: #00ffff;
}

.base-timer__path-remaining.orange {
    color: orange;
}

.base-timer__path-remaining.red {
    color: #d20094;
}

.base-timer__label {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
} */



/* 
############################################################
                        TIMER v 2 CSS
############################################################
*/