.feedBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-weight: 700;
    font-size: 50px;
    color:white;
    margin : 80px 0 20px;
    
}

.star{
    height: 45px;
    width: 45px;
    margin: 5px;
    opacity: 1;
    filter: brightness(0%);
}


.feedbackStars{
    filter: brightness(100%);
}
.par{
    font-size: 23px;
    margin: 0 90px ;
    line-height: 35px;
    text-align: center;
}

.stelle{
    margin : 30px 0;
    /* text-align:center */
}

.feedback{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 23px;
    line-height: 35px;
}

.finput{
    display: block;
    height: 40px;
    background-color:transparent;
    border: 0;
    border-bottom: 2px solid #d20094;
    margin-right: 80px;
    width: 43rem;
    margin: auto;
    margin-bottom: 50px;
    padding-left: 30px;
    outline: none;
    color: white ;
    font-size: 1.2rem;
}



.wcta{
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;

    
}   