* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --turquoise: #00ffff;
    --purple: #d20094;
    --white: #fff;
}


body {
    height: 100vh;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--white);
    font-weight: 400;

    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    display: block;
}

#container {
    width: 900px;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    /* align-items: center; */
}

h1 {

    font-family: 'Outfit', sans-serif;
    font-size: 60px;
    font-weight: 400;
    margin-top: 80px;
    margin-bottom: 45px;
    line-height: 48px;
}

h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 28px;
    color: #c2128d;
    font-weight: 700;
    margin: 10px 0;
}

.grassetto {
    font-weight: 700;

}

img {
    width: 160px;

}

ul {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

ul li {
    list-style: disc;
    line-height: 25px
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    padding: 15px 50px;
    background-color: var(--turquoise);
    box-shadow: 0 0 40px 0px #00ffff;
}

div label {
    margin-left: 5px;
}

/*#conditions {
    width: 15px;
    height: 15px;
    cursor: pointer;
    background:transparent;
    color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid white;
    position: relative;
    vertical-align: middle;
       
    
}

 #conditions:checked {
    background-color: currentColor;
    
}*/

.transparent-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid white;
    background-color: transparent;
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
}