:root {
    --turquoise: #00ffff;
    --purple: #d20094;
    --white: #fff;
    --black: #000;
    --violet: #999ece;
}

body {
    background-image: url("../img/bg.jpg");
    font-family: 'Inter', sans-serif;
    /* font-family: 'Outfit', sans-serif; */
    font-size: 16px;
    color: var(--white);
}
  
  .base-timer {
    position: relative;
    width: 150px;
    height: 150px;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 10px;
    stroke: rgba(255, 255, 255, 0.5);
  }
  
  .base-timer__path-remaining {
    stroke-width: 10px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .text-timer1 {
    font-size: 10px;
    position: absolute;
    left: 50px;
    top: 40px;
  }
  .text-timer{
      font-size: 10px;
      position: absolute;
      left: 46px;
      bottom: 38px;
    }

  .base-timer__path-remaining.green {
    color: var(--turquoise);
  }
  
  .base-timer__path-remaining.orange {
    color: var(--violet);
  }
  
  .base-timer__path-remaining.red {
    color: var(--purple);
  }
  
  .base-timer__label {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
  }
  